# Ignore everything
*

# But not these files...
!.gitignore
!jquery/dist/jquery.min.js
!bower_components/handlebars/handlebars.min.js
!bower_components/ember/ember.min.js
!bower_components/ember-insights/dist/ember-insights.amd.js
